/*------------------------------------*\
  #UTILITIES__MARGINS
\*------------------------------------*/

.u-mt-05 { margin-top: $spacing-05; }
.u-mt-1 { margin-top: $spacing-1; }
.u-mt-2 { margin-top: $spacing-2; }
.u-mt-3 { margin-top: $spacing-3; }
.u-mt-4 { margin-top: $spacing-4; }
.u-mt-5 { margin-top: $spacing-5; }
.u-mt-6 { margin-top: $spacing-6; }
.u-mt-7 { margin-top: $spacing-7; }
.u-mt-8 { margin-top: $spacing-8; }

.u-mr-05 { margin-right: $spacing-05; }
.u-mr-1 { margin-right: $spacing-1; }
.u-mr-2 { margin-right: $spacing-2; }
.u-mr-3 { margin-right: $spacing-3; }
.u-mr-4 { margin-right: $spacing-4; }
.u-mr-5 { margin-right: $spacing-5; }
.u-mr-6 { margin-right: $spacing-6; }
.u-mr-7 { margin-right: $spacing-7; }
.u-mr-8 { margin-right: $spacing-8; }

.u-mb-05 { margin-bottom: $spacing-05; }
.u-mb-1 { margin-bottom: $spacing-1; }
.u-mb-2 { margin-bottom: $spacing-2; }
.u-mb-3 { margin-bottom: $spacing-3; }
.u-mb-4 { margin-bottom: $spacing-4; }
.u-mb-5 { margin-bottom: $spacing-5; }
.u-mb-6 { margin-bottom: $spacing-6; }
.u-mb-7 { margin-bottom: $spacing-7; }
.u-mb-8 { margin-bottom: $spacing-8; }

.u-ml-05 { margin-left: $spacing-05; }
.u-ml-1 { margin-left: $spacing-1; }
.u-ml-2 { margin-left: $spacing-2; }
.u-ml-3 { margin-left: $spacing-3; }
.u-ml-4 { margin-left: $spacing-4; }
.u-ml-5 { margin-left: $spacing-5; }
.u-ml-6 { margin-left: $spacing-6; }
.u-ml-7 { margin-left: $spacing-7; }
.u-ml-8 { margin-left: $spacing-8; }



