/*------------------------------------*\
  #PAGES__INDEX
\*------------------------------------*/

// This file contains specific styles for the home page [./index.html]

// Contents:
// ---------
// 1. ***




// |=====================================
// | 1. Section Head                  
// |=====================================
// |
// | Description...


.home {
	.bg-knockout {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -5;
		overflow-y: hidden;

		.grid__row,
		.grid__col {
			height: 100%;
		}

		.color-bar {
			background: color(primary, 600);
			background: rgba(247,84,47,0.3);
			background: linear-gradient(to bottom, rgba(247,84,47,0.3) 0%, rgba(238,45,71,0.3) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7542f', endColorstr='#ee2d47', GradientType=0 );
			height: calc(100% + 10px);
	    	transform: translateY(-5px);
			box-shadow: inset 2px 0 8px rgba(84, 7, 18, .2), inset -2px 0 8px rgba(84, 7, 18, .2);
		}

	}

	.section--intro {

		.section--intro__glyph {
			width: 14px;
			height: 14px;
		}

		.section--intro__content {
			@include v-space(128);
			@include text-style(callout);
			padding-right: .5rem;
		}

	}

	// .sidebar {
	// 	position: relative;
	//     height: 2px;
	//     width: 40px;
	//     background: color(grey, 600);
	//     margin-left: -1.5rem;
	// }

	// .sidebar--hero {

	// 	&::before {
	// 		content: '';
	// 		position: absolute;
	// 		height: 2px;
	// 		width: 50%;
	// 		left: 0;
	// 		top: -6px;
	// 		background: color(grey, 600);
	// 	}
	// }

	.hero__titled-list {
		.titled-list__content {
			@include text-style(sm);
			color: color(primary, base);
		}
	}

}

.section--showcase {

	.section__title {
		font-size: $type__fs--x-big;
        font-weight: $type__fw--black;
        font-family: $type__ff--serif;
	}

	.nav-link {
		@include v-space(16);
	}
}

.showcase-list {
	@include v-space(128);
	width: 100%;
	padding-bottom: 8rem;

	.showcase-list__project {
		width: 100%;
		margin-bottom: 2rem;
		display: flex;
		align-items: baseline;

		a {
			width: 100%;
			@include flex-container;
			align-items: baseline;
		}

		&:last-of-type {
			margin-bottom: 0px;
		}

		.sidebar {
			opacity: 0;
			width: 0;
			background: color(primary, base);
			transition: all .48s cubic-bezier(0.2,1,0.56,1);

			&.is-visible {
				opacity: 1;
				width: 40px;
			}
		}
	}

	.project__link {

		&:hover {

			.project__count {
				visibility: hidden;
				opacity: 0;
			}

			.project__cta-text {
				visibility: visible;
				opacity: 1;

				&::after {
					transform: translateX(10px);
					opacity: 1;
					color: color(primary, base);
				}
			}

			.project__desc::after {
				width: calc(100% + 1.5rem);
			}

		}

	}

	.project__label {

	}

	.project__count {
		display: inline-block;
		transition: all .24s cubic-bezier(0.2,1,0.56,1);
		font-size: $type__fs--sm;

		.project__number {
			font-weight: $type__fw--bold;
		}

		.dash-spacer {
			width: 4px;
			display: inline-block;
		}

	}

	.project__cta-text {
		@include text-style(sm-caps);
		color: color(primary, base);
		display: inline-block;
	    transform: translateX(-60px);
	    visibility: hidden;
	    opacity: 0;
	    transition: all .24s cubic-bezier(0.2,1,0.56,1);

	    &::after {
			content: '—';
			position: absolute;
			right: 0px;
			transform: translateX(-4px);
			opacity: 0;
			transition: all .24s cubic-bezier(0.2,1,0.56,1) .08s;
		}
			
	}

	.project__name {
		font-family: 'sf_monosemibold', $type__ff--mono, monopsaced;
		font-size: $type__fs--xl;
		font-weight: $type__fw--semi;
	}

	.project__desc {
		@include v-space(16);
		padding-bottom: 2rem;
		position: relative;

		&::after,
		&::before {
			content: "";
			height: 1px;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&::after {
			width: 0;
			height: 2px;
			background: color(primary, base);
			transition: width .32s cubic-bezier(0.2,1,0.56,1);
		}

		&::before {
			width: calc(100% + 1.5rem);
			border-bottom: 1px solid color(grey, 300);
		}

	}

}





