/*------------------------------------*\
  #LAYOUT__GENERAL
\*------------------------------------*/


html {
	position: relative;
}

.section {
	@include v-space(128);
}

.dash-spacer {
	width: 2px;
	display: inline-block;
}

.hero__titled-list {

}

.titled-list__label {
	@include text-style(sm-caps);
	margin-bottom: .5rem;
}

.titled-list__content {
	@include text-style(sm);
	background: var(--blue);
}



