/*------------------------------------*\
  #LAYOUT__HERO
\*------------------------------------*/


.hero {
	height: 100vh;
	max-height: 1000px;
	display: flex;
	flex-direction: column;

	padding-bottom: 1.5rem;
    justify-content: space-between;

    position: relative;
}

.hero--proj {
	// height: 84vh;
	// padding-bottom: 2.5rem;
	padding-bottom: 0px;
	height: 85vh;

	.hero__wrap--logo {
    	margin-bottom: auto;
	}

	.hero__wrap--title {
		// @include v-space(96);
	}


	.scene {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: -50%;

	    // width: 50%; 
	    // height: 50vh;

	    width: 50vw;
    	height: 50vh;

	    margin: auto 0;
	    pointer-events: none;
	    z-index: -1;

	    // filter: blur(10px);

	    // filter: blur(50px);

	    @include grid(md) {
	    	margin: auto;
	    }

	    path {
	    	
	    }

	}

	// .scene path {
	// 	fill: #ee2d48;
	// }



	// .scene--employee-portal {

	// 	path {
	// 		fill: url(#grad);
	// 	}

	// }

	// .scene--2600hz {

	// 	path {
	// 		fill: rgba(255, 94, 0, 0.4);
	// 	}

	// }

	// .scene--spyder {

	// 	path {
	// 		fill: rgba(253, 59, 59, 0.4);
	// 	}

	// }

	// .scene--cluster {

	// 	path {
	// 		fill: rgba(41, 187, 252, 0.4);
	// 	}

	// }




	.hero__wrap--nav {
		@include v-space(96);
		margin-bottom: auto;
	}

	.project__count {
		font-size: $type__fs--sm;
	    position: absolute;
	    right: 6rem;
	    bottom: -2rem;
	    transform: rotate(-90deg);

		.project__number {
			font-weight: $type__fw--bold;
		}

		.dash-spacer {
			width: 4px;
			display: inline-block;
		}

	}

}

.hero__wrap {
	width: 100%;
}

.hero__wrap--logo {
	margin-top: 4rem;
}

.hero__logo-link {
	width: 42px;
	height: 50px;
	display: inline-block;
}

.hero__logo {

}

.hero__wrap--title {
	
}

.hero__title {
	@include text-style(hero--sm);
	color: color(grey, 600);
	position: relative;

	// color: white;
 //    text-shadow: 1px 1px 6px rgba(0,0,0,0.16);


	// @include grid(sm) {
	// 	@include text-style(hero--sm);
	// }

	@include grid(lg) {
		@include text-style(hero);
	}

	.accent {
		font-size: $type__fs--xxl;
		font-style: italic;
		font-weight: $type__fw--base;
	}

}

.hero__wrap--nav {
	
}

.hero__nav {
    // transform: translateY(12px);
}

.nav-link--menu {

}

.nav-link {
	// line-height: $type__lh--open;
	// color: color(grey, 600);
	// @include text-style(sm);
	// display: block;
	
	// a {
	// 	position: relative;
	// 	color: inherit;
	// 	padding: .25rem .25rem .25rem 0;

	// 	&::after {
	// 		content: '—';
	// 		position: absolute;
	// 		right: 0px;
	// 		transform: translateX(-4px);
	// 		// top: 10%;
	// 		opacity: 0;
	// 		transition: all .16s cubic-bezier(0.2,1,0.56,1);
	// 	}

	// 	&:hover::after {
	// 		transform: translateX(8px);
	// 		opacity: 1;
	// 		color: color(primary, base);
	// 	}

	// }

}

.nav-link {
	@include text-style(sm-caps);
	line-height: $type__lh--open;
	color: color(grey, 600);
	// @include v-space(16);
	transition: all .16s cubic-bezier(0.2,1,0.56,1);
	padding: .75rem .75rem .75rem 0;
	display: inline-block;

	&:hover {
		color: color(primary, base);

		.icon {
			background: color(primary, base);
		}

		.icon--list {
			width: 16px;
			margin-right: 8px;

			&::before {
				top: -6px;
			} 

			&::after {
				bottom: -6px;
			} 
		}

		.icon--close {
			transform: rotate(-45deg) scale(1.4);
			
		}
	}

	// .icon--list {
	// 	width: 16px;
	// 	height: 2px;
	// 	position: relative;
	// 	background: color(grey, 600);
	// 	display: inline-block;
	// 	vertical-align: middle;
	// 	margin-bottom: 2px;
	// 	margin-right: 16px;
	// 	transition: all .16s cubic-bezier(0.2,1,0.56,1);
		

	// 	&::before,
	// 	&::after {
	// 		position: absolute;
	// 		content: "";
	// 		height: 2px;
	// 		background: color(grey, 600);
	// 		width: 100%;
	// 		transition: top .16s cubic-bezier(0.2,1,0.56,1), bottom .16s cubic-bezier(0.2,1,0.56,1);
	// 	} 

	// 	&::before {
	// 		top: -4px;
	// 		left: 0;
			
	// 	} 

	// 	&::after {
	// 		bottom: -4px;
	// 		left: 0;
	// 	} 

	// }

}

.hero__wrap--sub {
	// margin-top: auto;
}

.hero__social-item {
	width: 18px;
	height: 18px;
	fill: color(grey, 600);
	display: inline-block;
	margin-right: .5rem;
}

.hero__date {
	@include text-style(sm);
}

.hero__proj-summary {
	@include text-style(callout);
}

.hero__proj-glyph {
	font-family: 'sf_monomedium';
	margin-top: -3px;
}


