/*------------------------------------*\
  #LAYOUT__MENU
\*------------------------------------*/


.menu {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.90);
}

.menu__header {

	.header__text {
		@include text-style(hero);
	}

}

.menu__content {

}

// .menu__overlay {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	left: 0;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	background: color(grey, base);
// }