<!-- ================================================== -->
<!-- FOOTER 											-->
<!-- ================================================== -->

<footer class="footer">
	<div class="grid">
		<div class="grid__row lg:row-align--center">

			<div class="grid__col md:col--3 md:offset--1 lg:col--4 lg:offset--3">
				<div class="footer__contact">hello@joshsanders.design</div>
			</div> 

			<div class="grid__col md:col--3 md:offset--1 lg:col--3 lg:offset--1">
				<div class="footer__copyright">
					<div class="copyright__date"><span class="copyright__font-fix">&copy;</span>2018 Josh Sanders</div>
				</div>
			</div> 
		</div>
	</div>
</footer>